// *************************************
//
//   Editorial
//   -> Magazine-style feed
//
// *************************************

.editorial
  background: lighten($c-black, 10%)
  background-position: center
  background-size: cover
  display: flex
  flex: 1 300px
  flex-flow: column wrap
  height: $b-space-xl * 7
  justify-content: center
  margin-bottom: $g-gutter
  margin-left: $g-gutter / 2
  margin-right: $g-gutter / 2
  padding: 0 $b-space
  position: relative
  text-align: center
  +respond-to($g-m)
    height: $b-space-xl * 9.5
  &:hover,
  &:focus
    &::before
      background: rgba($c-black, 0.1) 
  &::before
    +stretch
    background: rgba($c-black, 0.35)
    content: ''

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Sizes ----- //

.editorial--featured
  flex: 3 100%

.editorial--large
  flex: 2 640px

// ----- Refactor Later ----- //

.editorial--flush
  margin: 0
  width: 100%

.editorial--short
  height: $b-space-xl * 7

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

.has-editorials
  display: flex
  flex-flow: row wrap
  margin: 0 (-$g-gutter / 2)

// -------------------------------------
//   Scaffolding
// -------------------------------------

.editorial-title
  font-size: $b-fontSize-xl
  margin-bottom: $b-space-s

.editorial-text
  color: $c-white
  margin: 0 auto
  max-width: $b-maxWidth-s * 0.75
  padding: 0 $b-space
  position: relative
  z-index: $z-editorial-title
  p
    font-size: $b-fontSize-xs

.editoral-video
  background: rgba($c-accent, 0.85)
  border-radius: 50%
  height: 90px
  margin: 0 auto ($b-space * 1.5)
  width: 90px
  i
    font-size: 65px
    line-height: 90px