// *************************************
//
//   Editorial
//   -> Magazine-style feed
//
// *************************************

.editorial
  background: lighten($c-black, 10%)
  background-position: center
  background-size: cover
  display: flex
  flex: 1 300px
  flex-flow: column wrap
  height: $b-space-xl * 7
  justify-content: center
  margin-bottom: $g-gutter
  margin-left: $g-gutter / 2
  margin-right: $g-gutter / 2
  padding: 0 $b-space
  position: relative
  text-align: center
  +respond-to($g-m)
    height: $b-space-xl * 9.5
  &:hover,
  &:focus
    &::before
      bottom: $g-gutter / 2
      left: $g-gutter / 2
      right: $g-gutter / 2
      top: $g-gutter / 2
  &::before
    +stretch
    background: rgba($c-black, 0.45)
    content: ''
    transition: all 250ms $b-transition

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Sizes ----- //

.editorial--featured
  flex: 3 100%

.editorial--large
  flex: 2 640px

// ----- Styles ----- //

.editorial--financial,
.editorial--imageless
  background: $c-white
  justify-content: space-between
  padding: $b-space-l
  text-align: left
  +respond-to($g-m)
    padding: $b-space-xl
  &::before
    display: none
  .editorial-text
    color: $c-text
    font-style: italic
    height: 70%
    max-width: none
    overflow: hidden
    padding: 0
    &::after
      +stretch
      background-image: linear-gradient(rgba($c-white, 0) 75%, $c-white)
      content: ''
    p
      +respond-to($g-m)
        font-size: $b-fontSize * 0.85 !important

.editorial--financial
  .editorial-text::after
    display: none

.editorial--sidebar
  height: $b-space-xl * 5
  margin-bottom: 0
  margin-left: 0
  margin-right: 0
  margin-top: $g-gutter / 2
  +respond-to($g-m)
    height: $b-space-xl * 7
    margin-bottom: $g-gutter
    margin-top: 0

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

.has-editorials
  display: flex
  flex-flow: row wrap
  margin: 0 (-$g-gutter / 2)

// -------------------------------------
//   Scaffolding
// -------------------------------------

.editorial-title
  font-size: $b-fontSize-xl
  margin-bottom: $b-space-s

.editorial-text
  color: $c-white
  margin: 0 auto
  max-width: $b-maxWidth-s * 0.75
  padding: 0 $b-space
  position: relative
  z-index: $z-editorial-title
  p
    font-size: $b-fontSize-xs

.editoral-video
  background: rgba($c-accent, 0.85)
  border-radius: 50%
  height: 90px
  margin: 0 auto ($b-space * 1.5)
  width: 90px
  i
    font-size: 65px
    line-height: 90px