// *************************************
//
//   Hero
//   -> Page hero headings
//
// *************************************

.hero
  background: $c-black
  background-position: center center
  background-size: cover
  padding: 50vh ($g-gutter / 2) $b-space
  +respond-to($g-m)
    padding: 65vh $g-gutter $b-space

// -------------------------------------
//   Modifiers
// -------------------------------------

// .structure--modifier

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

// .structure-scaffolding
