// *************************************
//
//   Hero
//   -> Page hero headings
//
// *************************************

.hero
  background: none
  color: $c-white

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Live ----- //

.hero--live
  background: $c-live
  position: relative
  .hero-content
    border-bottom: $b-borderWidth $b-borderStyle rgba($c-white, 0.25)
    margin-bottom: $b-space-l
    padding: ($b-space-xl * 2.25) ($g-gutter / 2) $b-space-xl
    +respond-to($g-m)
      border-bottom: 0
      margin-bottom: 0
      padding: ($b-space-xl * 4) $g-gutter $b-space-xl
  .hero-extend
    background-image: none
  .hero-media
    opacity: 1
    position: absolute
    z-index: 0

// ----- Primary ----- //

.hero--primary
  .hero-content
    padding: 50vh ($g-gutter / 2) $b-space
    +respond-to($g-m)
      padding: 70vh $g-gutter $b-space

// ----- Resource ------ //

.hero--resource
  position: relative
  .hero-content
    padding: ($b-space-xl * 3) ($g-gutter / 2) $b-space
    +respond-to($g-m)
      padding: 30vh $g-gutter $b-space
  .hero-extend
    background-image: linear-gradient(rgba($c-black, 0) 0%, rgba($c-black, 0.5) 75%, $c-black 100%)
    +respond-to($g-m)
      padding-bottom: $b-space
  .hero-media
    position: absolute

// ----- Resources ----- //

.hero--resources
  .hero-content
    padding: ($b-space-xl * 3) ($g-gutter / 2) ($b-space-xl * 2)
    +respond-to($g-m)
      padding: 33vh ($g-gutter / 2) 20vh
      text-align: center
  .hero-extend
    background-image: linear-gradient(rgba($c-black, 0) 0%, rgba($c-black, 0.75) 50%, $c-black 100%)
    +respond-to($g-m)
      background-image: linear-gradient(rgba($c-black, 0) 0%, $c-black 100%)
  .hero-media
    opacity: 0.6

// ----- Secondary ----- //

.hero--secondary
  position: relative
  .hero-content
    padding: ($b-space-xl * 2) ($g-gutter / 2) $b-space-l
    text-align: center
    +respond-to($g-m)
      padding: 30vh $g-gutter 20vh
  .hero-media
    opacity: 0.5
    position: absolute

// ---- Video ----- //

.hero--video
  background-image: linear-gradient(rgba($c-black, 0) 0%, rgba($c-black, 0.5) 75%, $c-black 100%)
  position: relative
  .hero-content
    padding: ($b-space-xl * 2) ($g-gutter / 2) $b-space
    +respond-to($g-m)
      padding: ($b-space-xl * 3.5) $g-gutter $b-space
  .hero-media
    position: absolute

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

.hero-content
  display: block
  position: relative
  z-index: $z-hero-content
  h1
    text-shadow: $b-textShadow

.hero-extend
  background-image: linear-gradient(rgba($c-black, 0) 0%, rgba($c-black, 0.75) 50%, rgba($c-black, 0.9) 100%)
  margin-top: -$b-space-xl * 3.25
  padding: ($b-space-xl * 3) ($g-gutter / 2) $b-space
  position: relative
  z-index: $z-hero-extend
  +respond-to($g-m)
    background-image: linear-gradient(rgba($c-black, 0) 0%, rgba($c-black, 0.75) 100%)
    padding: ($b-space-xl * 3.25) $g-gutter $b-space-xl

.hero-media
  background-image: url(image-path('hero-home.jpg'))
  background-position: center
  background-size: cover
  bottom: 0
  left: 0
  opacity: 0.85
  position: fixed
  right: 0
  top: 0
  z-index: $z-hero-media

