// *************************************
//
//   Hero
//   -> Page hero headings
//
// *************************************

.hero
  background: none

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Primary ----- //

.hero--primary
  .hero-content
    padding: 50vh ($g-gutter / 2) $b-space
    +respond-to($g-m)
      padding: 70vh $g-gutter $b-space

// ----- Resources ----- //

.hero--resources
  .hero-content
    padding: ($b-space-xl * 3) ($g-gutter / 2) ($b-space-xl * 2)
    +respond-to($g-m)
      padding: 33vh ($g-gutter / 2) 20vh
      text-align: center
  .hero-extend
    background-image: linear-gradient(rgba($c-black, 0) 0%, rgba($c-black, 0.75) 50%, $c-black 100%)
    +respond-to($g-m)
      background-image: linear-gradient(rgba($c-black, 0) 0%, $c-black 100%)
  .hero-media
    opacity: 0.6

// ----- Secondary ----- //

.hero--secondary
  .hero-content
    padding: 30vh ($g-gutter / 2) $b-space
    +respond-to($g-m)
      padding: 38vh ($g-gutter / 2) 25vh
      text-align: center

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

.hero-content
  color: $c-white
  display: block
  position: relative
  z-index: $z-hero-content
  h1
    text-shadow: $b-textShadow

.hero-extend
  background-image: linear-gradient(rgba($c-black, 0) 0%, rgba($c-black, 0.75) 50%, rgba($c-black, 0.9) 100%)
  margin-top: -$b-space-xl * 3.25
  padding: ($b-space-xl * 3) ($g-gutter / 2) $b-space
  position: relative
  z-index: $z-hero-extend
  +respond-to($g-m)
    background-image: linear-gradient(rgba($c-black, 0) 0%, rgba($c-black, 0.75) 100%)
    padding: ($b-space-xl * 3.25) $g-gutter $b-space-xl

.hero-media
  +stretch
  background-image: url(image-path('hero-home.jpg'))
  background-position: center
  background-size: cover
  opacity: 0.85
  position: fixed
  z-index: $z-hero-media

