// *************************************
//
//   Logo
//   -> Main brainding in header/footer
//
// *************************************

.logo
  float: left

// -------------------------------------
//   Modifiers
// -------------------------------------

// .structure--modifier

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

.logo-primary,
.logo-secondary
  border-bottom: none
  height: $navigation-height-mobile
  line-height: $navigation-height-mobile
  margin: 0
  padding: 1em 0
  position: relative
  +respond-to($g-m)
    height: $navigation-height
    line-height: $navigation-height
    position: relative
    z-index: $z-logo

.logo-primary
  color: $c-white
  font-family: $b-fontFamily-heading
  font-size: $b-fontSize-s
  letter-spacing: $b-letterSpacing
  margin-right: $b-space-xs
  text-transform: uppercase

.logo-secondary
  bottom: 1px
  color: lighten($c-accent, 5%)
  font-size: $b-fontSize-xs * 0.85
  font-style: italic
  letter-spacing: -0.03rem
  text-decoration: underline
  +respond-to($g-m)
    font-size: $b-fontSize-xs
  &:hover,
  &:focus
    color: lighten($c-accent, 10%)
