// *************************************
//
//   Navigation
//   -> Global, fixed, header nav
//
// *************************************

.navigation
  background: rgba($c-black, 0.9)
  box-shadow: $b-boxShadow
  clear: both
  height: $navigation-height-mobile
  left: ($g-gutter / 2)
  margin: 0 auto
  max-width: $b-maxWidth
  padding: 0 ($g-gutter / 2)
  position: fixed
  right: ($g-gutter / 2)
  top: ($g-gutter / 2)
  transition: all 1s $b-transition, height 700ms $b-transition
  z-index: $z-nav
  &::before
    background: rgba($c-black, 0.75)
    bottom: 0
    content: ''
    left: 0
    opacity: 0
    position: fixed
    right: 0
    top: 0
    transition: opacity 700ms $b-transition
    visibility: hidden
    z-index: $z-nav-backdrop
  +respond-to($g-m)
    background: rgba($c-black, 0.85)
    height: $navigation-height
    left: $g-gutter
    padding: 0 $g-gutter
    right: $g-gutter
    top: ($b-space * 1.75)
    &::before
      background: none
      background-image: linear-gradient(rgba($c-black, 0.5) 0%, rgba($c-black, 0.1) 75%, rgba($c-black, 0))
      bottom: auto
      height: $b-space * 7
      opacity: 1
      visibility: visible

// -------------------------------------
//   States
// -------------------------------------

.is-active
  height: 100%
  left: 0
  right: 0
  padding: ($g-gutter / 2) $g-gutter
  top: 0
  &::before 
    opacity: 1
    visibility: visible
  .navigation-group
    visibility: visible
  .navigation-primary,
  .navigation-secondary
    visibility: visible
    a
      opacity: 1
      transform: translateY(0%)
  .navigation-primary
    a
      transition-delay: 300ms
  .navigation-search
    opacity: 1
    transform: translateY(0%)
    transition-delay: 150ms
    visibility: visible
  .navigation-secondary
    a
      transition-delay: 450ms
  .social--navigation
    opacity: 1
    transform: translateY(0%)
    transition-delay: 600ms
    visibility: visible

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Group ----- //

.navigation-group
  left: $g-gutter
  position: fixed
  right: $g-gutter
  top: 50%
  transform: translateY(-45%)
  visibility: hidden
  +respond-to($g-m)
    left: 0
    position: absolute
    right: 0
    top: 0
    transform: translateY(0%)
    visibility: visible


// ----- Primary & Secondary ----- //

.navigation-primary,
.navigation-secondary
  visibility: hidden
  +respond-to($g-m)
    float: right
    visibility: visible
  +respond-to($navigation-vertical-s, max-height)
    float: left
    margin-right: 10%
    width: 40%
  a
    display: block
    opacity: 0
    padding: $b-space-s 0
    transform: translateY(100%)
    transition: all 500ms $b-transition
    +respond-to($g-m)
      display: inline-block
      opacity: 1
      transform: translateY(0%)
    +respond-to($navigation-vertical, max-height)
      padding: $b-space-xs 0

// ----- Primary ----- //

.navigation-primary
  +respond-to($g-m)
    margin-right: $navigation-height + $b-space-l
  a
    font-family: $b-fontFamily-heading
    font-size: $b-fontSize-xl
    letter-spacing: $b-letterSpacing
    text-transform: uppercase
    +respond-to($g-m)
      color: $c-white
      font-size: $b-fontSize-xs
      height: $navigation-height
      line-height: $navigation-height
      margin-left: $b-space-l
      padding: 0
      &:hover,
      &:focus
        color: lighten($c-accent, 5%)
    +respond-to($navigation-vertical-s, max-height)
      font-size: 1rem

// ----- Search ----- //

.navigation-search
  cursor: pointer
  display: block
  font-size: $b-fontSize-l
  margin-bottom: ($b-space-l * 0.75)
  opacity: 0
  position: relative
  transform: translateY(100%)
  transition: all 500ms $b-transition
  visibility: hidden
  +respond-to($g-m)
    background: $c-accent
    opacity: 1
    position: absolute
    right: 0
    top: 0
    transform: translateY(0%)
    visibility: visible
    width: $navigation-height
    z-index: $z-search
  +respond-to($navigation-vertical, max-height)
    margin-bottom: $b-space
  i
    color: $c-white
    left: 0
    position: absolute
    top: $b-space-s
    +respond-to($g-m)
      font-size: $b-fontSize-xl
      left: $b-space
      top: ($b-space * 0.9)
  input
    background: transparent
    border: none
    border-bottom: $b-borderWidth $b-borderStyle lighten($c-black, 25%)
    border-radius: 0
    color: $c-white
    padding: $b-space-s 0 $b-space-s $b-space-l
    +respond-to($g-m)
      border-bottom: none
      height: $navigation-height
      line-height: $navigation-height
      opacity: 0
      padding: $b-space-s 0 $b-space-s $b-space-xl
      transition: all 700ms $b-transition
      visibility: hidden
    &::placeholder
      color: $c-gray-4
      font-style: italic
      +respond-to($g-m)
        color: rgba($c-white, 0.85)
    &:focus
      border-bottom-color: $c-accent

// States

.is-searching
  +respond-to($g-m)
    width: 425px
  input
    +respond-to($g-m)
      opacity: 1
      visibility: visible

// ----- Secondary ----- //

.navigation-secondary
  margin-top: $b-space-s
  +respond-to($g-m)
    margin-top: 0
    position: absolute
    right: 0
    top: (-$b-space * 1.75)
  +respond-to($navigation-vertical-s, max-height)
    margin-top: 0
  a
    color: $c-gray-1
    font-size: ($b-fontSize * 0.8)
    +respond-to($g-m)
      font-size: $b-fontSize-xxs
      font-style: italic
      margin-left: ($b-space-l * 0.75)
      padding: 0
    &:hover,
    &:focus
      color: rgba($c-white, 0.5)