// *************************************
//
//   Navigation
//   -> Global, fixed, header nav
//
// *************************************

.navigation
  background: rgba($c-black, 0.95)
  clear: both
  height: $navigation-height
  left: ($g-gutter / 2)
  margin: 0 auto
  max-width: $b-maxWidth
  overflow: hidden
  padding: 0 ($g-gutter / 2)
  position: fixed
  right: ($g-gutter / 2)
  top: ($g-gutter / 2)
  transition: all 500ms $b-transition
  z-index: $z-nav
  +respond-to($g-m)
    background: rgba($c-black, 0.9)
    padding: 0 $g-gutter
    &::before
      background-image: linear-gradient(rgba($c-black, 0.75) 0%, rgba($c-black, 0.1) 75%, rgba($c-black, 0))
      content: ''
      height: $b-space * 10
      left: 0
      position: fixed
      right: 0
      top: 0
      z-index: $z-nav-backdrop

// -------------------------------------
//   Modifiers
// -------------------------------------

.is-active
  height: 100%
  left: 0
  right: 0
  padding: ($g-gutter / 2) $g-gutter
  top: 0

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Primary & Secondary ----- //

.navigation-primary,
.navigation-secondary
  display: flex
  flex-direction: column
  height: calc(50vh - (#{$navigation-height * 2}))
  justify-content: space-around
  +respond-to($g-m)
    float: right
  a
    border: none

// ----- Primary ----- //

.navigation-primary
  a
    font-family: $b-fontFamily-heading
    font-size: $b-fontSize-l
    letter-spacing: $b-letterSpacing
    text-transform: uppercase

// ----- Search ----- //

.navigation-search
  background: transparent
  border: none
  border-bottom: $b-borderWidth $b-borderStyle lighten($c-black, 25%)
  border-radius: 0
  color: $c-white
  font-size: $b-fontSize-l
  margin-bottom: $b-space
  padding: $b-space-s 0
  &:focus
    border-bottom-color: $c-accent

// ----- Secondary ----- //

.navigation-secondary
  a
    color: $c-gray-1
    font-size: $b-fontSize-s
