// *************************************
//
//   Social
//   -> Links to social media
//
// *************************************

.social
  a
    margin-right: $b-space-s
    &:hover,
    &:focus
      opacity: 0.75
  img
    display: inline-block
    height: 14px
    width: 14px

// -------------------------------------
//   Modifiers
// -------------------------------------

.social--navigation
  clear: both
  padding-top: ($b-space-l * 0.75)
  opacity: 0
  transform: translateY(100%)
  transition: all 500ms $b-transition
  visibility: hidden
  +respond-to($g-m)
    left: $g-gutter / 1.5
    opacity: 1
    margin-top: 4px
    padding-top: 0
    position: absolute
    top: (-$b-space * 1.8)
    transform: translateY(0%)
    visibility: visible
  +respond-to($navigation-vertical, max-height)
    padding-top: $b-space

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

// .structure-scaffolding
