// *************************************
//
//   Video
//   -> Video bugs
//
// *************************************

.video
  background: rgba($c-accent, 0.85)
  box-shadow: $b-boxShadow
  color: $c-white
  display: block
  font-size: $b-fontSize-xxs
  margin-bottom: $b-space-l
  margin-top: $b-space-l
  max-width: 500px
  padding: $b-space 0 $b-space 135px
  position: relative
  text-shadow: none
  +respond-to($g-s)
    padding: $b-space 0 $b-space 155px
  h2
    margin-bottom: $b-space-xs
  &:hover,
  &:focus
    color: $c-white
    opacity: 0.85

// -------------------------------------
//   Modifiers
// -------------------------------------

.video--inverted
  background: rgba($c-white, 0.85)
  color: $c-text
  h2
    color: $c-accent
  &:hover,
  &:focus
    background: $c-accent
    color: $c-white
    h2
      color: $c-white

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

.video-thumbnail
  +stretch
  background: $c-black
  background-position: center
  background-size: cover
  width: 110px
  +respond-to($g-s)
    width: 130px
