%li
  = link_to "event.html", class: "event" do
    .event-date{style: "background-image: url(#{image_path 'resource-beach.jpg'})"}
      .date <span>12</span> May
    %h4.event-title Fusce Ipsum Mattis Euismod Pharetra
    %dl.dictionary.dictionary--inline.event-details
      %dt.dictionary-term Time:
      %dd.dictionary-definition 8:00p
      %dt.dictionary-term Location:
      %dd.dictionary-definition Longwood
      %dt.dictionary-term Category:
      %dd.dictionary-definition Ministry