// *************************************
//
//   Breadcrumbs
//   -> "Remember where you came from"
//
// *************************************

.breadcrumbs
  font-family: $b-fontFamily-heading
  font-size: $b-fontSize-xxs * 0.8
  letter-spacing: $b-letterSpacing
  list-style: none
  margin-bottom: $b-space
  padding-left: 0
  text-transform: uppercase
  a
    color: $c-gray-3
    margin-right: $b-space-xs
    &:hover,
    &:focus
      color: $c-accent
  li
    display: inline-block
    &::after
      color: darken($c-gray-2, 7%)
      content: '•'
    &:last-child::after
      display: none
