// *************************************
//
//   Card
//   -> Individual style containers
//
// *************************************

.card
  background: $c-background-inverted
  padding: $b-space-xl
  position: relative
