// *************************************
//
//   Date
//   -> Day number and month abbreviation
//
// *************************************

.date
  color: $c-gray-3
  line-height: 1.2
  position: relative
  z-index: $z-date
  span
    color: $c-text
    display: block
    font-size: $b-fontSize-xl * 1.5
    line-height: 1