// *************************************
//
//   Input
//   -> Classes for inputs instead of default
//
// *************************************

.input
  border: $b-borderStyle $b-borderWidth $c-gray-2
  border-radius: 4px
  display: block
  margin-bottom: $b-space-s
  outline: none
  padding: $b-space-s $b-space
  width: 100%
  +respond-to($g-m)
    margin-bottom: $b-space-xs
  &:focus
    border-color: $c-accent
  &::placeholder
    color: lighten($c-text, 35%)
    font-style: italic

// -------------------------------------
//   Modifiers
// -------------------------------------

.input--group
  display: block
  margin-bottom: $b-space-s
  width: 100%

.input--search
  border: none
  border-bottom: $b-borderStyle $b-borderWidth $c-gray-2
  font-size: $b-fontSize-xl
  margin-bottom: $b-space-l
  +respond-to($g-m)
    font-size: $b-fontSize-xxl
    margin-bottom: $b-space-xl
  &:focus
    border-bottom-color: $c-accent

// -------------------------------------
//   Scaffolding
// -------------------------------------

.has-input-group
  width: 100%

// -------------------------------------
//   Scaffolding
// -------------------------------------

.input-checkbox
  display: inline-block
  cursor: pointer
  margin-right: $b-space-xs
  width: auto
  &:checked + .input-label
    color: $c-accent

.input-label
  color: $c-gray-3
  cursor: pointer
  font-size: $b-fontSize-s