// *************************************
//
//   Media
//   -> Better responsive images
//
// *************************************

.media
  background: $c-black
  background-position: center
  background-size: cover
  display: block
  margin-bottom: $b-space * 1.5

// -------------------------------------
//   Modifiers
// -------------------------------------

.media--text
  display: flex
  flex-flow: row wrap
  height: $b-space-xl * 7
  justify-content: center
  padding: $b-space
  text-align: center
  +respond-to($g-s)
    height: $b-space-xl * 8

.media--medium
  height: $b-space-xl * 3

.media--large
  height: $b-space-xl * 3.5
  +respond-to($g-s)
    height: $b-space-xl * 4.5

// -------------------------------------
//   States
// -------------------------------------

// .component.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-component

// -------------------------------------
//   Scaffolding
// -------------------------------------

// .component-scaffolding
