// *************************************
//
//   Media
//   -> Better responsive images
//
// *************************************

.media
  background: $c-black
  background-position: center
  background-size: cover
  display: block
  margin-bottom: $b-space * 1.5
  position: relative

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Sizes ----- //

.media--small
  height: $b-space-xl * 3

.media--medium
  height: $b-space-xl * 3.5
  +respond-to($g-s)
    height: $b-space-xl * 4.5

.media--large
  height: $b-space-xl * 5
  +respond-to($g-m)
    height: $b-space-xl * 6

// ----- Styles ----- //

.media--text
  display: flex
  flex-flow: column wrap
  justify-content: center
  margin-bottom: 0
  text-align: center
  &::before
    +stretch
    background: rgba($c-black, 0.35)
    content: ''
    z-index: $z-media-overlay

// -------------------------------------
//   States
// -------------------------------------

// .component.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-component

// -------------------------------------
//   Scaffolding
// -------------------------------------

.media-content
  color: $c-white
  margin: 0 auto
  max-width: $b-maxWidth-s * 0.75
  padding: 0 $b-space
  position: relative
  z-index: $z-media-content
  p
    font-size: $b-fontSize-xs

