// *************************************
//
//   Row
//   -> Width-spanning blocks
//
// *************************************

.row
  background: $c-background
  overflow: hidden
  padding: 0 ($g-gutter / 2)
  +respond-to($g-m)
    padding: 0 $g-gutter

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Colors ----- //

.row--blue
  background: $c-navy

.row--inverted
  background: $c-background-inverted

.row--gray
  background: $c-gray-1

// ----- Image ----- //

.row--image
  background-position: center
  background-size: cover
  color: $c-white
  position: relative
  text-shadow: $b-textShadow
  &::before
    +stretch
    background: rgba($c-black, 0.25)
    content: ''

// ----- Page ----- //

.row--page
  padding-top: $b-space-xl
  +respond-to($g-m)
    padding-top: $b-space-xl * 2.5
