.hero.hero--secondary
  .hero-media
  = link_to "#", class: "hero-content" do
    .cell.cell--s
      %h1.heading.heading--xl About Northland
      %p.mbl.tci.tss Donec ullamcorper nulla non metus auctor fringilla. Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
      .btn.btn--transparent Learn More

.g.g--flush
  - 4.times do
    .g-b.g-b--m--1of2
      = link_to "#", class: "media media--large media--text", style: "background-image: url(#{image_path 'resource-beach.jpg'})" do
        .media-content
          %h3 About This Thing
          %p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies vehicula ut id elit.
          .btn.btn--small.btn--transparent Learn More


.row.row--inverted
  .cell.well
    %hr.rule.mbl
    .g
      .g-b.g-b--s--1of3.g-b--m--1of1.g-b--l--1of4
        %h4 Other Information
      .g-b.g-b--s--2of3.g-b--m--1of1.g-b--l--3of4
        .g
          - 11.times do
            .deck.g-b.g-b--1of2.g-b--m--1of3
              = link_to "#" do
                %h4.deck-title General
                %p.deck-description.mbl Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla.
