.hero.hero--secondary
  .hero-media
  .hero-content
    .cell
      %h1.heading.heading--xl About Northland
  .hero-extend
    .cell
      %h4.heading.heading--s Featured Opportunities
      %hr.rule.rule--transparent.mbl
      .g
        - 4.times do
          .deck.deck--inverted.g-b.g-b--s--1of2.g-b--m--1of4.mbm
            = link_to "#", class: "db tci" do
              = image_tag lorem.image('600x350'), class: "mbm"
              %h3.deck-title Locations &amp; Services
              %p.deck-description Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Curabitur blandit tempus.

.row.row--inverted
  .cell.well
    %h4 Ways to Connect
    %hr.rule.mbl