.hero
  .hero-content
    .cell
      %h1.tci Connect
  .hero-extend
    .cell
      %h4.tco.tsxs Featured Opportunities
      %hr.mbl
      .g
        - 4.times do
          .g-b.g-b--s--1of2.g-b--m--1of4.mbm
            = link_to "#", class: "db tci" do
              = image_tag lorem.image('600x350'), class: "mbm"
              %h3.tss Locations &amp; Services
              %p.tsxxs Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Curabitur blandit tempus porttitor.
