.row.row--inverted.row--page
  .cell.well
    %ul.breadcrumbs
      %li= link_to "Home", "index.html"
      %li= link_to "About", "about.html"
      %li= link_to "Team", "team.html"
    %h1.heading.heading--italic.heading--l.dib.mrm Chad Turnbull
    %h4.heading.tcs.tsxxs.dib Director of Distributing the Church
    .g.mtl
      .g-b.g-b--m--2of5
        .media.media--large{style: "background-image: url(http://lorempixel.com/600/350/abstract)"}
      .g-b.g-b--m--3of5.fr
        %hr.rule.mbl.mtf
        %h2.heading--italic.heading--m.mbl About Chad
        %p.tss Growing up in Lexington, Kentucky, Chad was notorious for talking all the time. The incessant chatter of childhood grew into a passion for communication, and that passion found a home in ministry and strategy development. “In anything I’ve done in my life, from sales, branding and entrepreneurial endeavors to student ministry and leading worship, the thing that has consistently brought me the most joy is articulating a vision or an idea in a way that makes a difference in someone’s life.” Through his gifts of exhortation, encouragement and strategic thinking, you will typically find Chad helping someone accomplish something that is important to them. Here at Northland, you will find him helping people start distributed churches so that they can live as the church everywhere, every day.
        %p.tss He holds a bachelor’s in, not surprisingly, communications from Asbury University. He and his wife, Mandy Rainwater Turnbull, have three children: Madeline, Charley and Annabelle.
      .g-b.g-b--m--2of5
        %hr.rule.mbl
        %h2.heading--italic.heading--m.mbl Contact Chad
        %dl.dictionary
          %dt.dictionary-term Phone:
          %dd.dictionary-definition (407) 937-0557
          %dt.dictionary-term Email:
          %dd.dictionary-definition= link_to "chad.turnbull@northlandchurch.net", "mailto:chad.turnbull@northlandchurch.net"