.hero.hero--secondary
  .hero-media{style: "background-image: url(#{image_path 'hero-tree.jpg'})"}
  .hero-content
    .cell.cell--s
      %h1.heading.heading--xl Ministries
      %p.tci.tss Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.

.row.row--inverted
  .cell.well
    .g
      .g-b.g-b--s--2of3.g-b--m--3of4.fr
        %hr.rule.mbl.mtf
        %h2.heading.mbl.tsxs All Ministries
        .g
          - 20.times do
            .deck.g-b.g-b--m--1of2.g-b--l--1of3
              = link_to "#" do
                .media.media--large{style: "background-image: url(#{lorem.image('600x350')})"}
                %h4.deck-title Ministry Name
                %p.deck-description Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.
      .g-b.g-b--s--1of3.g-b--m--1of4
        %hr.rule.mbl.mtf
        %h3.heading.mbl.tsxs Filter
        %h4.heading.mbm.tsxxs Location
        .input.input--group
          %input.input.input-checkbox#location-longwood{type: "checkbox"}
          %label.input-label{for: "location-longwood"} Longwood
        .input.input--group
          %input.input.input-checkbox#location-oviedo{type: "checkbox"}
          %label.input-label{for: "location-oviedo"} Oviedo
        .input.input--group
          %input.input.input-checkbox#location-mountdora{type: "checkbox"}
          %label.input-label{for: "location-mountdora"} Mount Dora

        %h4.heading.mbm.mtl.tsxxs Type
        .input.input--group
          %input.input.input-checkbox#type-ministry{type: "checkbox"}
          %label.input-label{for: "type-ministry"} Ministry
        .input.input--group
          %input.input.input-checkbox#type-class{type: "checkbox"}
          %label.input-label{for: "type-class"} Class
        .input.input--group
          %input.input.input-checkbox#type-serving{type: "checkbox"}
          %label.input-label{for: "type-serving"} Serving Opportunity
        
        %h4.heading.mbm.mtl.tsxxs Topic
        .input.input--group
          %input.input.input-checkbox#topic-addiction-recovery{type: "checkbox"}
          %label.input-label{for: "topic-addiction-recovery"} Addiction & Recovery
        .input.input--group
          %input.input.input-checkbox#topic-bible-study{type: "checkbox"}
          %label.input-label{for: "topic-bible-study"} Bible Study
        .input.input--group
          %input.input.input-checkbox#topic-care{type: "checkbox"}
          %label.input-label{for: "topic-care"} Care
        .input.input--group
          %input.input.input-checkbox#topic-children{type: "checkbox"}
          %label.input-label{for: "topic-children"} Children
        .input.input--group
          %input.input.input-checkbox#topic-community{type: "checkbox"}
          %label.input-label{for: "topic-community"} Community
        .input.input--group
          %input.input.input-checkbox#topic-finances{type: "checkbox"}
          %label.input-label{for: "topic-finances"} Finances
        .input.input--group
          %input.input.input-checkbox#topic-high-school{type: "checkbox"}
          %label.input-label{for: "topic-high-school"} High School
        .input.input--group
          %input.input.input-checkbox#topic-jail-prison{type: "checkbox"}
          %label.input-label{for: "topic-jail-prison"} Jail & Prison
        .input.input--group
          %input.input.input-checkbox#topic-marriage-family{type: "checkbox"}
          %label.input-label{for: "topic-marriage-family"} Marriage & Family
        .input.input--group
          %input.input.input-checkbox#topic-men{type: "checkbox"}
          %label.input-label{for: "topic-men"} Men
        .input.input--group
          %input.input.input-checkbox#topic-middle-school{type: "checkbox"}
          %label.input-label{for: "topic-middle-school"} Middle School
        .input.input--group
          %input.input.input-checkbox#topic-serve-teams{type: "checkbox"}
          %label.input-label{for: "topic-serve-teams"} Serve Teams
        .input.input--group
          %input.input.input-checkbox#topic-singles{type: "checkbox"}
          %label.input-label{for: "topic-singles"} Singles
        .input.input--group
          %input.input.input-checkbox#topic-special-needs{type: "checkbox"}
          %label.input-label{for: "topic-special-needs"} Special Needs
        .input.input--group
          %input.input.input-checkbox#topic-students{type: "checkbox"}
          %label.input-label{for: "topic-students"} Students
        .input.input--group
          %input.input.input-checkbox#topic-women{type: "checkbox"}
          %label.input-label{for: "topic-women"} Women