.row.row--inverted.row--page
  .cell.well
    .g
      .g-b.g-b--m--1of2
        %h1.heading.heading--italic.heading--l Ministry Name
        %p.mbxl.tss Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    .media.media--xl.mbxl{style: "background-image: url(#{image_path 'hero-home.jpg'})"}
    .g
      .g-b.g-b--m--1of4
        %hr.rule.mbl
        %h2.heading--italic.heading--m.mbl General Info
        %p.tsxs Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
      .g-b.g-b--m--2of4
        %hr.rule.mbl
        %h2.heading--italic.heading--m.mbl Upcoming Events
      .g-b.g-b--m--1of4
        %hr.rule.mbl
        %h2.heading--italic.heading--m.mbl.tcs About Northland Ministries
        %p.tcs.tsxs Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur.
        = link_to "Learn more", "about.html", class: "btn"