.row.row--inverted.row--page
  .cell.well
    .g
      .g-b.g-b--m--1of2
        %h1.heading.heading--l Need help?
        %p.mbxl.tss Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    %hr.rule.mbl
    .g
      .g-b.g-b--m--1of3
        %h2.heading--italic.heading--m Life Hope
      .g-b.g-b--m--2of3
        %p.tss Curabitur blandit tempus porttitor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
        = link_to "Request Life Hope support", "#", class: "btn mbxl"
    %hr.rule.mbl
    .g
      .g-b.g-b--m--1of3
        %h2.heading--italic.heading--m Counseling
      .g-b.g-b--m--2of3
        %p.tss Curabitur blandit tempus porttitor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
        = link_to "Request counseling support", "#", class: "btn mbxl"
    %hr.rule.mbl
    .g
      .g-b.g-b--m--1of3
        %h2.heading--italic.heading--m Hospital Visits
      .g-b.g-b--m--2of3
        %p.tss Curabitur blandit tempus porttitor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
        = link_to "Request a hospital visit", "#", class: "btn mbxl"