.row.row--inverted.row--page
  .cell.well
    %input.input.input--search{type: "search", placeholder: "Search...", autofocus: true}
    %hr.rule.mbl
    .g
      .g-b.g-b--m--1of3
        %h2.heading--italic.heading--m.mbl Search Results
      .g-b.g-b--m--2of3
        %ul.has-results
          - 8.times do
            %li.result
              = link_to "#", class: "db" do
                %h3.result-title This is the Result Title
                %span.result-meta Resource &bull; Dr. Joel C. Hunger &bull; May 8, 2015
                %p.result-excerpt Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Donec id elit non mi porta.
        = link_to "Load more", "#", class: "pagination"