.hero
  .hero-content
    .cell
      %h1.tci Tithe &amp; Offerings

.row.row--inverted
  .cell.well
    .g
      .g-b.g-b--s--1of2
        %hr.rule.mbm
        %h2.tss Overview
        %p.tsxs Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Donec id elit non mi porta gravida at eget metus.
      .g-b.g-b--s--1of2
        %hr.rule.mbm
        %h2.tss Tithing Platform
        %p.tsxs Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
        = link_to "Visit the Platform", "#"